@Model ContactInfo

<h2>Contact Details</h2>
<br>
<br>
<a href="/Contact/ShowContacts" class="btn btn-primary">Back</a>

@if (Model != null)
{
    <p>Id: @Model.ContactId</p>
    <p>Name: @Model.FirstName @Model.LastName</p>
    <p>Company: @Model.CompanyName</p>
    <p>Email: @Model.EmailId</p>
    <p>Mobile: @Model.MobileNo</p>
    <p>Designation: @Model.Designation</p>
}
else
{
    <p>Contact not found</p>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}