@Model ContactInfo

<h2>All Contacts</h2>
<a href="/Contact/AddContact" class="btn">Add New Contact</a>
<form method="get" action="/Contact/GetContactById">
    <input type="number" name="id" placeholder="Enter Contact ID" />
    <button type="submit">Search</button>
</form>

<br>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Company</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Designation</th>
    </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ContactId</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.CompanyName</td>
                <td>@item.EmailId</td>
                <td>@item.MobileNo</td>
                <td>@item.Designation</td>
            </tr>
        }
    </table>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }
    
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
